

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.header-section{
    margin: 70px;
    display: flex;
}
.text-section{
    margin-right: 50px;
    padding: 10px;
}
.header-section img{
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.text-section h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.text-section p{
    font-size: 20px;
    margin-bottom: 30px;
}

.text-section button{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: hsl(162, 88%, 26%);
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.text-section button:hover{
    background-color: hsl(94, 88%, 26%);
}
/*Main Section*/
.main-section h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.objective{
    display: flex;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 15px;
}
.objective i{
    font-size: 30px;
    color: #087f5b;
    margin-bottom: 10px;

}
.objective p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: justify;
}
.objective div{
    margin-right: 20px;
}
.review-box{
    background-color: #087f5b;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    
}
.review-box h1{
    font-size: 30px;
    margin-bottom: 30px;

}
.review-box div{
    margin-right: 50px;
    padding: 10px;
}

.review-box p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: justify;
}
.review-box img{
    width: 300px;
    height: auto;
    border-radius: 20px;

}
.chair-section{
     margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    

}
.best-seller img{
    width: 400px;
    height: auto;
    border-radius: 20px;

}
.best-seller p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: justify;
}
.best-seller button{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: hsl(162, 88%, 26%);
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;

}
.best-seller button:hover{
    background-color: hsl(94, 88%, 26%);

}
.best-seller{
    margin-right: 100px;
    padding: 10px;
}
.chair-section .button{
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    
}
.chair-section h2{
    margin-right: 50px;
    padding: 10px;
}
.chair-section div{
    margin-right: 10px;
  
}
.best-seller h2{
    text-align: center;
}